:root {
    /* FONTS */
    --main-font: "Work Sans", sans-serif;
    
    /* FONT SIZES*/
    --heading-font-size: 28px;
    --subheading-font-size: 18px;

    /* FONT STYLES */
    --bold: 700;
    --medium: 600;
    --regular: 400;

    /* SCALE */
    --scale-small: 0.95;

    /* TRANSITION */
    --transition: all 0.15s ease;

    /* COLORS */
    --main-color: rgb(40, 40, 40);
    --secondary-color: rgb(180, 180, 180);
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
}

/* FONTS */
.heading {
    font-size: var(--heading-font-size);
    font-weight: var(--bold);
}

.subheading {
    font-size: var(--subheading-font-size);
    font-weight: var(--medium);
}

/* DASHBOARD ITEMS */
.dashboard-card {
    background-color: var(--secondary-color);
    padding: 8px;
    border-radius: 8px;
}

.dashboard-btn {
    background-color: var(--main-color);
    min-width: max-content;
    color: white;
    font-weight: var(--medium);
    padding: 8px;
    border-radius: 9999px;
}

/* DASHBOARD BTN HOVER/FOCUS */
.dashboard-btn:hover,
.dashboard-btn:focus {
    scale:var(--scale-small);
    transition: var(--transition);
}

/* CALENDAR */
/* CALENDAR DAYS */
.calendar-day {
    border-radius: 8px;
}

.active-calendar-day {
    background-color: var(--secondary-color);
}

/* WORKOUT MARKERS */
.completed-workout-marker,
.incompleted-workout-marker {
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 9999px;
    margin: 0 0 5px 0;
}

.incompleted-workout-marker {
    opacity: 0;
}

.inactive-workout-marker,
.active-workout-marker {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color);
    border-radius: 9999px;
    margin: 5px auto;
}

.active-workout-marker {
    background-color: var(--main-color);
}